/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* 横スクロールを防止 */
}

/* General Styles */
body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  background-color: #ffffff;
  padding-top: 60px; /* ナビゲーションバーの高さ */
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  margin: 0;
  color: #5c2b45;
}
a {
  color: #e74c3c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.education-item h3 {
  margin-bottom: 5px; /* h3とpの間隔を縮める */
}

.education-item p {
  line-height: 1.3; /* pタグ内の行間を調整 */
  margin-top: 0; /* pタグの上部余白を縮める */
  margin-bottom: 0; /* pタグの下部余白を縮める */
}

.Education {
  margin-top: 20px; /* Educationセクションの上部余白 */
  border-top: 1px solid #f7c5d8; /* 薄いピンクの線を上部に追加 */
  padding-top: 20px; /* 線と内容との余白 */
}

.yuki {
  margin-top: 40px; /* 上部の余白を調整 */
  padding-top: 20px; /* 内側の余白を調整 */
  border-top: 1px solid #f7c5d8; /* 薄いピンクの線を上部に追加 */
  padding-top: 20px; /* 線と内容との余白 */
}












/* Header Section */
header, .header-with-bg {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.header-with-bg {
  height: 50vh;
  background-image: url(flower2.jpg);
}

.header-content h1, .header-content h2 {
  margin: 0;
  color: #4e2a1f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 3em;
}

/* Main Content Section */
main {
  margin-top: 0; /* 余白を削除 */
}

.about, .skills, .contact {
  margin-bottom: 40px;
}

.about p, .skills ul, .contact p {
  font-size: 1.1rem;
  color: #555;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  background-color: #ecf0f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Footer Section */
footer {
  background-color: #f8d7da;
  color: #5c2b45;
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}

/* ナビゲーションバーのスタイル */
nav {
  background-color: #f8d7da;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  color: white!important;
  text-align: center;
  padding: 14px 20px;
}
nav ul li a:hover {
  background-color: #111;
}
