/* General Styles */
body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif; /* フォントを変更 */
  background-color: #f8d7da; /* 薄いピンクの背景色 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  color: #5c2b45; /* 濃いピンク系 */
}

a {
  color: #e74c3c; /* リンクの色を赤系に変更 */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Section */
header {
  padding: 0;
  margin: 0;
  height: 100vh;
  text-align: center;
}

.header-with-bg {
  background-image: url(flower2.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
}

.header-content h1, .header-content h2 {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

header p {
  font-size: 1.2rem;
}

/* Main Content Section */
main {
  margin-top: 40px;
}

.about, .skills, .contact {
  margin-bottom: 40px;
}

.about p, .skills ul, .contact p {
  font-size: 1.1rem;
  color: #555;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  background-color: #ecf0f1; /* 薄いグレー系の背景 */
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Footer Section */
footer {
  background-color: #f8d7da; /* フッターの背景を薄いピンク */
  color: #5c2b45; /* フッターの文字色を濃いピンク */
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

footer p {
  margin: 0;
}


